* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body {
  min-height: 100vh;
  background-color: hsl(220, 15%, 55%);
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container {
  max-width: 1440px;
  padding: 0 539px;
}
img {
  width: 250px;
}
h2 {
  color: hsl(218, 44%, 22%);
  font-size: 20px;
}
p {
  color: hsl(210, 7%, 61%);
  font-size: 15px;
}
.details {
  background-color: #fff;
  text-align: center;
  padding: 15px;
  border-radius: 11px;
}
img,
h2,
p {
  margin-bottom: 15px;
}
@media (max-width: 400px) {
  .details {
    margin: 40px;
  }

  img,
  h2,
  p {
    margin-bottom: 20px;
  }
}
